<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/demo.nrgthemes.com\/projects\/nrgeventwp\/business_header_3\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
			!function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <link rel='stylesheet' property='stylesheet' id='bootstrap-css' href='~/Content/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' property='stylesheet' id='font-awesome-css' href='~/Content/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' property='stylesheet' id='idangerous.swiper-css' href='~/Content/idangerous.swiper.css' type='text/css' media='all' />
    <link rel='stylesheet' property='stylesheet' id='prettyphoto-css' href='~/Content/prettyPhoto.min.css' type='text/css' media='all' />
    <link rel='stylesheet' property='stylesheet' id='vc_pageable_owl-carousel-css-css' href='~/Content/owl.min.css' type='text/css' />
    <link rel='stylesheet' property='stylesheet' id='animate-css-css' href='~/Content/animate.min.css' type='text/css' />


</head>
<body>


    <!-- MAIN-SLIDER -->
    <div class="main-slider clearfix ">
        <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1" data-add-slides="2">
            <div class="swiper-wrapper">
                <div class="swiper-slide active" data-val="0">
                    <div class="fullheight">
                        <img class="center-image" src="~/img/image.png" alt="">

                        <!-- default slide -->
                        <div class="vertical-align">
                            <div class="square-box">
                                <h2 class="square-title">Conference</h2>
                                <div class="square-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodn</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" data-val="1">
                    <div class="fullheight">
                        <img class="center-image" src="~/img/main_4.jpg" alt="">
                        <!-- default slide -->
                        <div class="vertical-align">
                            <div class="square-box">

                                <h4 class="square-date">25 June 2015</h4>

                                <h2 class="square-title">design conference</h2>

                                <div class="square-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodn</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" data-val="2">
                    <div class="fullheight">
                        <img class="center-image" src="~/img/image.png" alt="">

                        <!-- default slide -->
                        <div class="vertical-align">
                            <div class="square-box">

                                <h4 class="square-date">25 June 2015</h4>

                                <h2 class="square-title">design conference</h2>

                                <div class="square-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodn</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" data-val="3">
                    <div class="fullheight">
                        <img class="center-image" src="~/img/main_4.jpg" alt="">


                        <div class="vertical-align">
                            <div class="banner-block">
                                <h4 class="banner-date">25 June at 20:00 - 22:00 on Manhattan/New York</h4>
                                <h2 class="banner-title">design conference</h2>
                                <div class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" data-val="4">
                    <div class="fullheight">
                        <img class="center-image" src="~/img/image.png" alt="">
                        <div class="vertical-align">
                            <div class="container">
                                <div class="banner-block style-2">
                                    <h4 class="banner-date ">25 June 2015</h4>
                                    <h2 class="banner-title">design conference</h2>

                                    <div class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                                    <div class="banner-btn">
                                        <a class="c-btn b-50 yellow hv-yellow-o" href="@Url.Action("Contact","Home")">Contact us</a>

                                        <a class="register-link c-btn b-50 transparent hv-yellow" href="@Url.Action("Create", "NewUser")">
                                            Register
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination"></div>
            <div class="swiper-arrow-left style-1"><img src="~/img/arrow_left_3.png" alt="arrow_left"></div>
            <div class="swiper-arrow-right style-1"><img src="~/img/arrow_right_3.png" alt="arrow_right"></div>
        </div>
    </div>


    <script type='text/javascript' src='~/Scripts/jquery.js'></script>
   
    <script type='text/javascript' src='~/Scripts/idangerous.swiper.min.js'></script>
    <script type='text/javascript' src='~/Scripts/imagelightbox.min.js'></script>
    <script type='text/javascript' src='~/Scripts/isotope.pkgd.min.js'></script>
    <script type="text/javascript" src='~/Scripts/jquery-1.10.2.js'></script>

    <script type='text/javascript' src='~/Scripts/jquery.form.min.js'></script>
    <script type='text/javascript' src='~/Scripts/scripts.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.knob.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.throttle.js'></script>
    <script type='text/javascript' src='~/Scripts/anchors.navigation.js'></script>
    <script type='text/javascript' src='~/Scripts/navigation.js'></script>
    <script type='text/javascript' src='~/Scripts/wp-embed.min.js'></script>
    <script type='text/javascript' src='~/Scripts/js_composer_front.min.js'></script>
    <script type='text/javascript' src='~/Scripts/vc-accordion.min.js?'></script>
    <script type='text/javascript' src='~/Scripts/vc-tta-autoplay.min.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.prettyPhoto.min.js'></script>
    <script type='text/javascript' src='~/Scripts/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='~/Scripts/underscore.min.js'></script>
    <script type='text/javascript' src='~/Scripts/waypoints.min.js'></script>
    <script type='text/javascript' src='~/Scripts/vc_grid.min.js'></script>
    <script type='text/javascript' src='~/Scripts/global.js'></script>
</body>
</html>