@model IEnumerable<WebApplication.User>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

<h2>Sending the mail...</h2>
<p>Please check your email and confirm your email adress</p>
