
@{
    ViewBag.Title = "AcceptDecline";
}

<h2>AcceptDecline</h2>
@using (Html.BeginForm())
{
   
<input type="submit" id ="accept" name="Accept" value="Accept" class="btn btn-success"/>
<input type="submit" id="decline" name="Decline" value="Decline" class="btn btn-danger" />
}