
@{
    ViewBag.Title = "Reconsideration";
}
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

<h2>Reconsideration</h2>
<h3>We are sorry that you can't participate at the conference. If you change your mind, you can accept within 48 hours of receiving the e-mail.</h3>
<h4>If you do not change your mind, the chair's invitation will be taken as declined</h4>
<h4>Thank you!</h4>
