@model Conference
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
<style>
    h1{
        padding-top:30px;
        padding-left:30px;
        color:white;
    }
</style>
<h1>
    The mail was sent, wait for the response 
    
</h1>
