@model Conference
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<hr />
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
<style>
    h1{
        padding-top:30px;
        padding-left:30px;
        color:white;
    }
</style>
<h1>
    The mail was sent, wait for the response 
    
</h1>
<hr/>
<div class="container">
    <ul class="nav nav-pills nav-stacked">
   
        <li><a href="@Url.Action("Details", "Conferences")">Back to list</a></li>
    </ul>
</div>