@model User
@{
    ViewBag.Title = "WriteText";
}
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

<h2>WriteText</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<dl>
    <dt>
        @*@Html.ActionLink("Send invite", "SendInvite")*@
        @Html.DisplayNameFor(model => model.text)
    </dt>
    <dd>

        @*@Html.TextArea("Send a message", null, new { @class = "form-control" })*@
        @Html.EditorFor(model => model.text, new { htmlAttributes = new { @class = "form-control", required = "required" } })

    </dd>
   
</dl>
<input type="submit" value="Send" class="btn btn-default" > 
}