@model IEnumerable<WebApplication.Conference>

@{
    ViewBag.Title = "Welcoming";
    }

<h2>Welcome to the site, enjoy your time here </h2>
<ul>

    <li>
        @Html.ActionLink("See my conferences", "Index", "Conferences")


    </li>
    <li>
        @Html.ActionLink("See my papers", "Index", "Papers")
    </li>
</ul>




















